<%= content_for :title, "Event example" %>

<div class="mx-auto md:w-2/3 w-full pt-4 flex flex-col">
  <div class="p-4 w-full my-4 bg-slgray border-gray-500 text-sblack flex flex-col">
    <h3 class="mb-2 text-lg inline-block font-bold">
      Add event details such as time, location, and participants to keep track of your schedule.</h3>
    <%= link_to "Get Started", 
      new_user_path, 
      data: { turbo_action: "replace" }, 
      class: "max-w-fit rounded-lg py-3 px-5 bg-sdred text-white font-medium mb-2" %>
  </div>

  <div class="mt-2 turbo-native:ml-2">
    <h3 class="mb-2 text-4xl font-bold tracking-tight text-sdred">
      Chelsea x Liverpool
    </h3>

    <h4 class="mb-2 text-2xl font-bold tracking-tight text-gray-800">
      Premier League
    </h4>

    <h5 class="mb-4 text-lg font-bold tracking-tight text-gray-800">
      17-03-2024 - 09:30
    </h5>

    <p class="mb-3 font-normal text-gray-700">
      <span class="bg-sdred text-white text-sm font-medium me-2 px-2.5 py-1.5 rounded">
        Soccer
      </span>
      <span class="bg-gray-500 text-white text-sm font-medium me-2 px-2.5 py-1.5 rounded">
        Start Plus
      </span>
    </p>
  </div>

  <p class="my-5 text-lg">
    A clash of giants awaits as Chelsea and Liverpool face off in a 
    Premier League match that promises electrifying football. Both 
    teams, with their rich histories and strong lineups, are set to 
    deliver a spectacle of skill, strategy, and intensity. This 
    match isn't just about the points; it's a battle for pride and 
    prestige in one of football's most competitive leagues. Fans 
    can expect a thrilling encounter filled with moments of 
    brilliance as these two football powerhouses clash on the field.
  </p>

  <p class="mt-2">
    <div class="rounded-lg pt-3 pb-4 px-4 bg-sdred text-white flex font-medium">
      <%= inline_svg_tag("icons/watch.svg", style: "max-height: 30px; max-width: 30px; color: white") %>
      <span class="ml-2 pt-[5px]">Link to the streaming</span>
    </div>
  </p>
</div>
