<div class="mx-auto md:w-2/3 w-full pt-4 flex flex-col">
  <p class="mb-6 inline-block">Yay! It's very good to see you here.</p>
  <%= link_to "Get Started", new_user_path, data: { turbo_action: "replace" }, class: "flex-1 rounded-lg py-3 px-5 bg-sdred text-white font-medium" %>
</div>
